/* Some space between the container and the display and keyboard */
#calculator{
    padding: 2em;
    border-radius: 5px;
}

#calculator .btn{
    border-radius: inherit;    
}

/* Style for the display */
#calculator .display{
    font-size: 2em;
    min-height: 2.5em;
    text-align: right;
}

/* Calculator container */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Keyboard buttons */
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Adjust display and buttons for small screens */
@media (max-width: 320px) {
    #calculator .display{
        font-size: 1em;
        padding: 0.5em;
    }
    .panel{
        margin-bottom: 12px;
    }
    .jumbotron .btn {
      padding: 7px 14px;
      font-size: 14px;
    }
}
